









/* Sidebar.css old  */
  .sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f0f4f9;
  height: 100vh;
  padding: 25px 10px;
  box-sizing: border-box;
  transition: all 0.3s ease;
  position: fixed;
  width: auto;
  z-index: 100;
}

 .sidebar.extended {
  width: 280px;
} 

.top {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  
}

.menu {
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: block;
  transition: transform 0.3s ease;
}

.sidebar.extended .menu {
  transform: rotate(90deg); 
}
.new-chat {
   display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  background-color: #e6eaf1;
  border-radius: 50px;
  font-size: 14px;
  color: #3d3d3d;
  cursor: pointer;
  width: 100%; 
  transition: background-color 0.2s ease; 

  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px;
  background-color: #e6eaf1;
  border-radius: 50px;
  font-size: 14px;
  color: #1a1a1a;
  cursor: pointer;
  margin-top: -10px;
}

.new-chat img {
  width: 24px;
  height: 24px;
  align-items: center;
}

.recent {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.recent-title {
  font-size: 13px;
  margin-bottom: 20px;
  padding-left: 10px;
}

.recent-entry {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  padding-right: 30px;
  border-radius: 50px;
  color: #3d3d3d;
  cursor: pointer;
}

.recent-entry:hover {
  background-color: #e2e6eb;
}

.recent-entry img {
  width: 20px;
}

.recent-entry p {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bottom {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.bottom-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 50px;
  color: #3d3d3d;
  cursor: pointer;
}


.bottom-item:hover {
  background-color: #e2e6eb;
}

.bottom-item img {
  width: 20px;
  height: 20px;
}

.bottom-item p {
  font-size: 14px;
  color: #202124;
  white-space: nowrap;
}   